html {
  font-family: 'Source Sans Pro', sans-serif;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 35px;
  width: 235px;
}

p {
  margin-left: 35px;
  font-weight: 600;
}

label {
  font-weight: 900;
}

input[type=text] {
  width: 100%;
  padding: 5px 9px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #A178DF;
  color: white;
  padding: 6px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #845EC2;
}

#result {
  font-weight: 300;
}
